{% extends 'base.html' %}
{% block content %}
 <div class="wrapper">
	<!-- Top Container -->
        <section class="top-container">
            <header class="showcase">
                <h1>Your Web Presence</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel modi, provident atque quam at eaque?</p>
                <a href="#" class="btn">Read More</a>
            </header>
            <div class="top-box top-box-a">
                <h4>Membership</h4>
                <p class="price">$199/mo</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
            <div class="top-box top-box-b">
                <h4> Pro Membership</h4>
                <p class="price">$299/mo</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>
        <!-- Boxes Section -->
        <section class="boxes">
            <div class="box">
                <i class="fas fa-chart-pie fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
            <div class="box">
                <i class="fas fa-globe fa-4x"></i>
                <h3>Marketing</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
            <div class="box">
                <i class="fas fa-cog fa-4x"></i>
                <h3>Development</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
            <div class="box">
                <i class="fas fa-users fa-4x"></i>
                <h3>Support</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
        </section>
        <!-- Info Section -->
        <section class="info">
            <img src="static/img/pic1.jpg" alt="">
            <div>
                <h2>Your Business On the Web </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque qui saepe quis eaque nesciunt explicabo maxime nostrum placeat,
                     nam non minus consequatur cupiditate doloremque? Error asperiores voluptatibus reiciendis quam.</p>
                     <a href="#" class="btn">Learn More</a>
            </div>
        </section>
        <!-- Portfolio section -->
        <section class="portfolio">
            <img src="https://source.unsplash.com/random/200x200" alt="">
            <img src="https://source.unsplash.com/random/200x201" alt="">
            <img src="https://source.unsplash.com/random/200x202" alt="">
            <img src="https://source.unsplash.com/random/200x203" alt="">
            <img src="https://source.unsplash.com/random/200x204" alt="">
            <img src="https://source.unsplash.com/random/200x205" alt="">
            <img src="https://source.unsplash.com/random/200x206" alt="">
            <img src="https://source.unsplash.com/random/200x207" alt="">
            <img src="https://source.unsplash.com/random/200x208" alt="">
            
            <!-- group news section -->
        </section>
        <div class="heading">
            <h2>समाचार</h2>
        </div>
        
        <section class="news-container">
            <div class="news newsbox1">
                <img src="" alt="">
                <div>
                    <a href="#"><h2>समाचार</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="news newsbox2">
                <img src="" alt="">
                <div>
                    <a href="#"><h2>आज पनि कोरोना सङ्क्रमितको संख्या ४५१ बढि</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="news newsbox3">
                <img src="" alt="">
                <div>
                    <a href="#"><h2>समाचार</h2></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            
            <div class="news newsline1">
                <a href="#"><h3>क्वारेन्टाईन भित्रै महिला बलात्कृत</h3></a>
            </div>
            <div class="news newsline2">
                <a href="#"><h3>Lorem ipsum dolor, sit amet consectetur adipisic.</h3></a>
            </div>
            <div class="news newsline3">
                <a href="#"><h3>कोरोनाको महामारि बिचमा सरकार द्ववारा १ करोड को गलैचा अडर्र</h3></a>
            </div>
            <!-- <div class="news newsline4">
                <h3>Lorem ipsum dolor, sit amet consectetu.</h3>
            </div>
            <div class="news newsline5">
                <p>Lorem ipsum dolor, sit amet consectetur</p>
            </div>
            <div class="news newsline6">
                <h3>कोरोनाको महामारि बिचमा सरकार द्ववारा १ करोड को गलैचा अडर्र </h3>
            </div> -->


        </section>
        
        <div class="heading">
            <h2>खेलकुद</h2>
        </div>
        <section class="sportportfolio">
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="static/img/pic2.jpg" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </section>
        <div class="heading">
            <h2>देश</h2>
        </div>
        <section class="national-news">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/card1.jpg">
                </div>
                <div class="card-text">
                    <h2>थप ६७० जनामा कोरोना पुष्टि </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio.</p>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <i class="fa fa-clock"></i>
                        <div class="date">असार ४,२०७७ मंगलबार</div>
                    </div>
                </div>
            </div> 
            <!-- repeating card -->
            <div class="card">
                <div class="card-image">
                    <img src="static/img/card1.jpg">
                </div>
                <div class="card-text">
                    <h2>थप ६७० जनामा कोरोना पुष्टि </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio.</p>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <i class="fa fa-clock"></i>
                        <div class="date">असार ४,२०७७ मंगलबार</div>
                    </div>
                </div>
            </div> 
            <!-- repeating card -->
            <div class="card">
                <div class="card-image">
                    <img src="static/img/card1.jpg">
                </div>
                <div class="card-text">
                    <h2>थप ६७० जनामा कोरोना पुष्टि </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio.</p>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <i class="fa fa-clock"></i>
                        <div class="date">असार ४,२०७७ मंगलबार</div>
                    </div>
                </div>
            </div> 
            <!-- repeating card -->
            <div class="card">
                <div class="card-image">
                    <img src="static/img/card1.jpg">
                </div>
                <div class="card-text">
                    <h2>थप ६७० जनामा कोरोना पुष्टि </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio.</p>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <i class="fa fa-clock"></i>
                        <div class="date">असार ४,२०७७ मंगलबार</div>
                    </div>
                </div>
            </div> 
            <!-- repeating card -->

            <!-- repeating card -->
        </section>
        <div class="heading">
            <h2>अर्थ</h2>
        </div>
        <section class="economy-news">
           
        <!-- Info Section -->
            <section class="info">
                <img src="static/img/sharad.png" alt="">
                <div>
                    <h2>Your Business On the Web </h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque qui saepe quis eaque nesciunt explicabo maxime nostrum placeat,
                         nam non minus consequatur cupiditate doloremque? Error asperiores voluptatibus reiciendis quam.</p>
                         <a href="#" class="btn">Read More</a>
                </div>
            </section>
             <!-- Boxes Section -->
            <section class="boxes">
                <div class="box">
                    <i class="fas fa-chart-pie fa-4x"></i>
                    <h3>Analytics</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
                </div>
                <div class="box">
                    <i class="fas fa-globe fa-4x"></i>
                    <h3>Marketing</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
                </div>
                <div class="box">
                    <i class="fas fa-cog fa-4x"></i>
                    <h3>Development</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
                </div>
                <div class="box">
                    <i class="fas fa-users fa-4x"></i>
                    <h3>Support</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
                </div>
            
            </section>
        </section>
        <!-- political news container -->
        <div class="heading">
            <h2>राजनिति</h2>
        </div>
        <section class="msl-container">
            <div class="main-grik">
                <img src="static/img/msl.jpg" alt="">
                <h2>Enlighten your new skill with Supreme Tech.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa reprehenderit modi nobis itaque doloremque aspernatur?</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="sub-grik sub-grik-a">
                <img src="static/img/msl.jpg" alt="">
                <h2>News Heading here</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="btn">Read More</a>

            </div>
            <div class="sub-grik sub-grik-b">
                <img src="static/img/msl.jpg">
                <h2>News Heading here</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="line-grik">
                <a href="#"><h2> news title here </h2></a>
                <a href="#"><h2> news title here </h2></a>
                <a href="#"><h2> news title here </h2></a>
                <a href="#"><h2> news title here </h2></a>
                <a href="#"><h2> news title here </h2></a>
                <a href="#"><h2> news title here </h2></a>
            </div>
            
        </section>
        
        <!-- political news container end here -->
        <div class="heading">
            <h2>बिज्ञान</h2>
        </div>
        <!-- Science news container start here -->
        <section class="science-container">
            <div class="container1">
                <div class="newsboard">
                    <img src="static/img/msl.jpg" alt="">
                    <h2>Lorem, ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, eius?</p>
                    <a href="#" class="btn">See More</a>
                </div>
                
                <div class="science-box science-box-a">
                    <h4>News title here!</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, quas.</p>
                    <a href="#" class="btn">See More</a>
                </div>
                <div class="science-box science-box-b">
                    <h4>News title here for the nest!</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, quas.</p>
                    <a href="#" class="btn">See More</a>
                </div>   
                
            </div>
            <div class="container2">
                <div class="science-block-a">
                    <img src="" alt="">
                    <h2>News Title here</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, perferendis.</p>
                    <a href="#" class="btn">See More</a>
                </div>
                <div class="science-block-b">
                    <img src="" alt="">
                    <h2>News Title here</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, perferendis.</p>
                    <a href="#" class="btn">See More</a>
                </div>
                <div class="science-block-c">
                    <img src="" alt="">
                    <h2>News Title here</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, perferendis.</p>
                    <a href="#" class="btn">See More</a>
                </div>
                <div class="science-line-a">
                    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
                </div>
                <div class="science-line-b">
                    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
                </div>
                <div class="science-line-c">
                    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
                </div>
            </div>

        </section>
        <!-- Science news container ends here -->
        <!-- startup ideas container start here -->
        <div class="heading">
            <h2>स्टार्टअप</h2>
        </div>
        <section class="start-up">
            <div class="profile-sidebar">
               <img class="profile-image" src="static/img/msl.jpg" alt="">
               <ul class="social-list">
                <li class="social-item"><a aria-label="dribbble" class="social-link" href="#"><i class="fab fa-dribbble-square"></i></a></li>
                <li class="social-item"><a aria-label="facebook" class="social-link" href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li class="social-item"><a aria-label="twitter" class="social-link" href="#"><i class="fab fa-twitter-square"></i></a></li>
                        
               </ul> 
            </div>

            <div class="profile-main">
               <h2 class="profile-name">Sharad Bhandari</h2> 
               <p class="profile-position">Python-django Developer</p>
               <p class="profile-body">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.Distinctio, harum quisquam? Obcaecati dolores soluta illum suscipit,libero consectetur, nisi, repudiandae excepturi nobis corporis deleniti veritatis voluptates?
               </p>
               <a class="profile-page" href="#">Read More</a>
            </div>

            
        </section>



        <!-- startup ideas container start here -->
    </div>
{% endblock %}