{% extends 'base.html' %}
{% block content %}
 <div class="wrapper">
	<!-- Top Container -->
        <section class="top-container">
            <header class="showcase">
                <h1>Your Web Presence</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel modi, provident atque quam at eaque?</p>
                <a href="#" class="btn">Read More</a>
            </header>
            <div class="top-box top-box-a">
                <h4>Membership</h4>
                <p class="price">$199/mo</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
            <div class="top-box top-box-b">
                <h4> Pro Membership</h4>
                <p class="price">$299/mo</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>
        <!-- Boxes Section -->
        <section class="boxes">
            <div class="box">
                <i class="fas fa-chart-pie fa-4x"></i>
                <h3>Analytics</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
            <div class="box">
                <i class="fas fa-globe fa-4x"></i>
                <h3>Marketing</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
            <div class="box">
                <i class="fas fa-cog fa-4x"></i>
                <h3>Development</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
            <div class="box">
                <i class="fas fa-users fa-4x"></i>
                <h3>Support</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, laboriosam.</p>
            </div>
        </section>
        <!-- Info Section -->
        <section class="info">
            <img src="static/img/pic1.jpg" alt="">
            <div>
                <h2>Your Business On the Web </h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat itaque qui saepe quis eaque nesciunt explicabo maxime nostrum placeat,
                     nam non minus consequatur cupiditate doloremque? Error asperiores voluptatibus reiciendis quam.</p>
                     <a href="#" class="btn">Learn More</a>
            </div>
        </section>
        <!-- Portfolio section -->
        <section class="portfolio">
            <img src="https://source.unsplash.com/random/200x200" alt="">
            <img src="https://source.unsplash.com/random/200x201" alt="">
            <img src="https://source.unsplash.com/random/200x202" alt="">
            <img src="https://source.unsplash.com/random/200x203" alt="">
            <img src="https://source.unsplash.com/random/200x204" alt="">
            <img src="https://source.unsplash.com/random/200x205" alt="">
            <img src="https://source.unsplash.com/random/200x206" alt="">
            <img src="https://source.unsplash.com/random/200x207" alt="">
            <img src="https://source.unsplash.com/random/200x208" alt="">
            
            <!-- group news section -->
        </section>
        <div class="heading">
            <h2>समाचार</h2>
        </div>
        <!-- <div class="container main-box">
			<div class="row">
				<div class="col-md-8 left-side">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="box">
									<span>this is box</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 right-side">
					<div class="col-md-12">
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
						<div class="news">this is news</div>
					</div>
				</div>
			</div>
		</div> -->
        <section class="news-container">
            <div class="newsbox1">
                <img src="" alt="">
                <div>
                    <h2>समाचार</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="newsbox2">
                <img src="" alt="">
                <div>
                    <h2>समाचार</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="newsbox3">
                <img src="" alt="">
                <div>
                    <h2>समाचार</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            
            <div class="newsline1">
                <h3>क्वारेन्टाईन भित्रै महिला बलात्कृत</h3>
            </div>
            <div class="newsline2">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, molestias.</h3>
            </div>
            <div class="newsline3">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, molestias.</h3>
            </div>
            <div class="newsline4">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, molestias.</h3>
            </div>
            <div class="newsline5">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, molestias.</p>
            </div>
            <div class="newsline6">
                <h3>कोरोनाको महामारि बिचमा सरकार द्ववारा १ करोड को गलैचा अडर्र </h3>
            </div>


        </section>

        <div class="heading">
            <h2>खेलकुद</h2>
        </div>
        <section class="sportportfolio">
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="static/img/pic2.jpg" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
            <div class="sport">
                <img src="" alt="">
                <div>
                    <h2>Sports title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, debitis!</p>
                        <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </section>
        <div class="heading">
            <h2>देश</h2>
        </div>
        <div class="heading">
            <h2>अर्थ</h2>
        </div>
        <div class="heading">
            <h2>राजनिति</h2>
        </div>
        <div class="heading">
            <h2>बिज्ञान</h2>
        </div>
    </div>
{% endblock %}